<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather Frontend Test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/styling.css">
    </head>
    <body>
        <div class="tv"><figure><div class="screen mute" id="tv"></div></figure></div>
        <div class="container">
            <div class="row" id="appDiv">
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h3>{{ description }}</h3>
                                    <h1>{{ temperature | decimals }}<sup>&deg;C</sup></h1>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h2>{{ location }}, {{ country }}</h2>                                    
                                    <h3>{{ currentTime | time12Hour }}</h3>
                                    <p>Humidity: {{ humidity }}% | Cloud coverage: {{ cloudCoverage }}%</p>                                
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>        
                <div class="container">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div id="forecast-container" class="row">
                                <div class="col" v-for="(n, index) in 5">
                                    {{ 24 + 24 * index }}hs: <strong>{{ forecasts[8 * index].main.temp | decimals }}<sup>&deg;C</sup></strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-2"></div>                                                                      
                    </div>
                </div>
                <div class="container countries-container">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col country" v-for="citi in cities" v-on:click="currentCity(citi.name, citi.countryCode);">
                                    <img :src="'https://www.countryflags.io/' + citi.countryCode + '/flat/32.png'">
                                    {{ citi.name }}
                                </div>
                                <div class="col country" v-on:click="currentCity(ipcity, ipcountry);">
                                    <img :src="'https://www.countryflags.io/' + ipcountry + '/flat/32.png'">
                                    {{ ipcity }}
                                </div>
                            </div>
                        </div>
                        <div class="col-2"></div>                                                                      
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>        
        <script src="js/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="js/landing.js"></script>	
    </body>
</html>
